<div class="container text-center">
	<h2>System Flow</h2><hr>

		
		<!------------------------------------------------------------------------------------------------------------------------->
		<!---------------------------------------------------- SERVER PI ---------------------------------------------------------->
		<div class="row">	
			<div class="container">
			<button type="button" class="btn btn-primary btn-block" data-toggle="collapse" data-target="#server">Server Pi</button>
			<div id="server" class="text-left">
				<ul class="list-group">
					<a name="server.profile"></a>					
					<li class="list-group-item">
						<a name="server.profile"></a>						
						<h4>.profile<br><small>/home/pi/.profile</small></h4>
						<ul>
							<li>This program will be run automatically once <strong>Server Pi</strong> boots up successfully</li>
							<li>What happenend in <strong>server's .profile</strong>?
								<ul>
									<li>Set up Server Pi ip address</li>
									<li>Mounted the hard disk</li>
									<li>Call <strong><a href="" ng-click="goToAnchor('server.rb')" >server.rb</a></strong> program</li>
								</ul><br>

<pre><code>sudo ifconfig eth0 169.254.0.4
sudo /home/pi/bin/other/mount_wd.sh
sudo ruby /home/pi/bin/software/ruby/server.rb</pre></code>

							</li>
						</ul>

					</li>

					<a name="server.rb"></a>
					<li class="list-group-item">
						<h4>server.rb<br><small>/home/pi/bin/software/ruby/server.rb</small></h4>
						<ul>
							<li>This program has to be run first before any client code</li>
							<li>Once the server has started, user can go to <strong>server terminal</strong> by typing the following : <br>
							<pre><code>screen -raAd</code></pre></li>
						</ul>
					</li>

				</ul>
			</div>
			</div>
		</div>
		
		<br>	

		<!------------------------------------------------------------------------------------------------------------------------->
		<!---------------------------------------------------- CLIENT PI ---------------------------------------------------------->
		<div class="row">	
			<div class="container">
			<button type="button" class="btn btn-success btn-block" data-toggle="collapse" data-target="#client">Client Pi</button>
			<div id="client" class="text-left">
				<ul class="list-group">

					<!--######################################################.PROFILE ###################################################-->					
					<a name="client.profile"></a>					
					<li class="list-group-item">
						<h4>.profile<br><small>/home/pi/.profile</small></h4>
						<ul>
							<li>This program will be run automatically once <strong>Client Pi</strong> boots up successfully</li>
							<li>What happenend in <strong>client's .profile</strong>?
								<ul>
									<li>Call <strong><a href="" ng-click="goToAnchor('master.rb')" >master.rb</a></strong> program</li>
								</ul><br>

								<pre><code>sudo ruby /home/pi/bin/software/ruby/master.rb</pre></code>

							</li>
						</ul>
					</li>


					<!--###################################################### MASTER ###################################################-->					
					<a name="master.rb"></a>
					<li class="list-group-item">
						<h4>master.rb<br><small>/home/pi/bin/software/ruby/master.rb</small></h4>
						<ul>
							<li>This is the master program that will call all other programs from client side</li>
							<li>What happenend in <strong>master.rb</strong>?
								<ol>
									
									<li>Get program configuration from 
										<strong><a href="" ng-click="goToAnchor('program.conf')" >program.conf</a></strong></li>
									<li>Random delay before communication with server started.
										<small class="text-muted"><ul>
											<li>To give some time for ethernet connection to be established</li>
										</ul></small>
									</li>
										
									<li>Run <strong><a href="" ng-click="goToAnchor('client.rb')" >client.rb</a></strong>.</li>
									
									<li>Run <strong><a href="" ng-click="goToAnchor('program_info.py')" >program_info.py</a></strong>.
										<small class="text-muted"><ul>
											<li>Just printing out the current program info and configuration. Nothing special here</li>
										</ul></small>
									</li>

									<li>Check if <strong>user_session</strong> is set to 'y' in <strong>program configuration</strong>
										<small class="text-muted"><ul>
											<li>If yes, exit program immediately.</li>
											<li>Else, continue.</li>
										</ul></small>
									</li>

									<li>Charge camera
										<small class="text-muted"><ul>
											<li>The camera will be charged for 5 minutes, which is the default.</li>
											<li>The default charge time can be change in <strong><a href="" ng-click="goToAnchor('Main.py')" >Main.py</a></strong>.</li>
										</ul></small>
									</li>

									<li>Run <strong><a href="" ng-click="goToAnchor('SleepyPi.py')" >SleepyPi.py</a></strong>.</li>

								</ol>
							</li>
						</ul>
					</li>

					<!--###################################################### CLIENT ###################################################-->					
					<a name="client.rb"></a>
					<li class="list-group-item">
						<h4>client.rb<br><small>/home/pi/bin/software/ruby/master.rb</small></h4>
						<ul>
							<li>This program is the only way for client to communicate with the server</li>
							<li>What happenend in <strong>client.rb</strong>?
								<ol>
									<li>Send client's information to the server</li>
									<li>Transfer maximum of 5 photos from client's local directory to the server
										<small class="text-muted"><ul>
											<li>Photos that had been successfully transferred, will be deleted from Client Pi local directory</li>
										</ul></small>
									</li>
									<li>Transfer client.info file to the server</li>
									<li>If the Server Pi see the client for the first time since
										<strong><a href="" ng-click="goToAnchor('server.rb')" >server.rb</a></strong>
										started, the client will automatically run 
										<strong><a href="" ng-click="goToAnchor('updater.rb')" >updater.rb</a></strong>
									to get the latest updated code from the server</li>

									<li>There will be a timeout in connecting to the server</li>
										<small class="text-muted"><ul>
											<li>If fail to connect, the Client Pi will continue the execution normally</li>
										</ul></small>

								</ol>
							</li>
						</ul>
					</li>

					<!--###################################################### UPDATER ###################################################-->					
					<a name="updater.rb"></a>
					<li class="list-group-item">
						<h4>updater.rb<br><small>/home/pi/bin/software/ruby/updater.rb</small></h4>
						<ul>
							<li>Updater will retrieve the files from the server's <strong>/home/pi/bin/software</strong> directory</li>
							<li>This includes all <strong>python and ruby codes</strong> as well as the <strong>program configuration</strong> file</li>
						</ul>
					</li>

					<!--###################################################### PROGRAM INFO ################################################-->					
					<a name="program_info.py"></a>
					<li class="list-group-item">
						<h4>program_info.py<br><small>/home/pi/bin/software/python/program_info.py</small></h4>
						<ul>
							<li>Updater will retrieve the files from the server's <strong>/home/pi/bin/software</strong> directory</li>
							<li>This includes all <strong>python and ruby codes</strong> as well as the <strong>program configuration</strong> file</li>
							<li>What can <strong>program_info.py</strong> do?</li>

<pre><code>Print Program Configuration<ul><li>sudo python program_info.py</li></ul>
Change Program Configuration<ul><li>sudo python program_info.py --update-conf</li></ul>							
Change Program Command<ul><li>sudo python program_info.py --update-command</li></ul></code></pre>							
							
							<li>Extra Commands. The following commands were called from <strong><a href="" ng-click="goToAnchor('SleepyPi.py')" >SleepyPi.py</a></strong> according to the configuration set in Server's terminal</li>

<pre><code>sudo python program_info.py --work-hour [INTEGER]
sudo python program_info.py --user-session [y/n]
sudo python program_info.py --delete-all-photos [y/n]
sudo python program_info.py --reset [y/n]
sudo python program_info.py --reset-iteration [y/n]
sudo python program_info.py --download-all-photos [y/n]
sudo python program_info.py --abort [y/n]
sudo python program_info.py --charge-all [y/n]</code></pre>	

						</ul>
					</li>


					<!--###################################################### SLEEPY PI ###################################################-->					
					<a name="SleepyPi.py"></a>
					<li class="list-group-item">
						<h4>SleepyPi.py<br><small>/home/pi/bin/software/python/SleepyPi.py</small></h4>
						<ul>
							<li>SleepyPi.py is the only place where The RPi <strong>communicate with the Sleepy Pi</strong> attached to it.</li>
							<li>This program used two GPIO pins (GPIO 24 and GPIO 25) to signal the current condition/state to Sleepy Pi</li>
							<li>
								Below are the list of conditions that is used in this program :<br>
								<ul>
								  <li>SHUTDOWN</li>
								  <li>RUNNING</li>
								  <li>START OF THE DAY</li>
								  <li>LAST ITERATION</li>
								  <li>USER SESSION</li>
								</ul>
							</li>
							<li>What exactly happened in <strong>SleepyPi.py</strong>?
								<ol>
									<li>The program starts off by initializing the program configuration that is stored in <strong>program.conf</strong> and assign it to <strong>PROGRAM_JSON</strong> constant</li>
									<li>Check if there is any extra argument given.<br>
										There are 2 type of argument that this program can receive : 
<pre><code>python SleepyPi.py --set-condition [condition]
python SleepyPi.py --charge-default
</code></pre>
									</li>
									<li>If there is no argument given, start the default execution for this program</li>
								</ol>

							</li>
							<br>
							<li><h4>Default Execution</h4>
								<ol>
									<li>Firstly execute all command that is set to 'y' in <strong>PROGRAM_JSON</strong></li>
									<li>Set Condition to RUNNING
										<small class="text-muted"><ul>
											<li>Set the GPIO pins accordingly so that Sleepy Pi which is attached on the Raspberry Pi knows that it is in RUNNING state</li>
										</ul></small>
									<li>Call <strong>start()</strong> function
										<small class="text-muted"><ul>
											<li>In start() function, get the current iteration which is stored in <strong>iteration_log.txt</strong></li>
										</ul></small>
									</li>
									<li>Call <strong>main()</strong> function with the current iteration that we get from start() function
										<small class="text-muted"><ul>
											<li>Call <strong>job_cycle()</strong> from main() function, where <strong><a href="" ng-click="goToAnchor('Main.py')" >Main.py</a></strong> program will be called</li>
											<li>Add 1 to current iteration</li>
											<li>If current iteration == total iteration, set condition to LAST_ITERATION</li>
											<li>If current iteration < total iteration, set condition to SHUTDOWN</li>
										</ul></small>
									</li>
									<li>Shutdown the RPi (for <strong>With Sleepy Pi</strong> implementation)</li>
									<li>Exit the program (for <strong>No Sleepy Pi</strong> implementation)</li>
								</ol>

							</li>
							<br>
							<li>P/S : For <strong>With Sleepy Pi</strong> implementation
								<ul>
									<li>Before finished its execution, the SleepyPi.py will send a SHUTDOWN signal to Sleepy Pi and shutdown the RaspberryPi</li>
									<li>Once Sleepy Pi received the SHUTDOWN signal, it will power up the Raspberry again after
										<strong>(SLEEP_TIME - EXECUTION_TIME)</strong></li>
								</ul>
							</li>
						</ul>
					</li>



					<!--###################################################### UPDATER ###################################################-->					
					<a name="Main.py"></a>
					<li class="list-group-item">
						<h4>Main.py<br><small>/home/pi/bin/software/python/Main.py</small></h4>
						<ul>
							<li>The main task of this program is to interact with cameras attached to the Raspberry Pi</li>
							<li>What can <strong>Main.py</strong> do?

<pre><code>Job Cycle<ul><li>"sudo python Main.py [current_iteration] [total_iteration]"</li><li>Called from main() function from <strong><a href="" ng-click="goToAnchor('SleepyPi.py')" >SleepyPi.py</a></strong></li></ul>
Charge Cycle<ul><li>"sudo python Main.py --charge-[type] [current_iteration] [total_iteration]"</li><li>Called from <strong><a href="" ng-click="goToAnchor('master.rb')" >master.rb</a></strong></li></ul></code></pre>	

							</li>
							<br>
							<li><h4>Job Cycle Operation</h4>
								<ol>
									<li>Initiliazation
										<small class="text-muted"><ul>
											<li>Get current disk storage of the RPi</li>
											<li>Initialize all cameras attached to the Raspberry Pi</li>
											<li>Get current time (from cameras)</li>
										</ul></small>	
									</li>

									<li>Writing client information
										<small class="text-muted"><ul>
											<li>The info is written in <strong>client.info</strong> and <strong>client.latest.info</strong></li>
										</ul></small>	
									</li>

									<li>Download latest photos from each camera
										<small class="text-muted"><ul>
											<li>This operation is handled by <strong><a href="" ng-click="goToAnchor('download_photo.py')" >download_photo.py</a></strong> program</li>
										</ul></small>											
									</li>

									<li>Run <strong><a href="" ng-click="goToAnchor('client.rb')" >client.rb</a></strong>
										<small class="text-muted"><ul>
											<li>To send latest information and photos to the Server Pi</li>
										</ul></small>											
									</li>

									<li>Take picture with all cameras
										<small class="text-muted"><ul>
											<li>After the camera lens is opened it cannot be closed unless the power to the camera is cut</li>
											<li>This is why this operation is the last one in job cycle</li>
											<li>After this operation, the RPi will shutdown (for With Sleepy Pi Implementation)</li>
											<li>Or the power to usb port will be cut (for No Sleepy Pi Implementation)</li>
										</ul></small>											
									</li>

								</ol>
							</li>

						</ul>
					</li>


				</ul>
			</div>
			</div>
		</div>
</div>