.wrapper { float: middle; clear: middle; display: table; table-layout: fixed; }
img.img-responsive { display: table-cell; max-width: 15%; }

.col-md-12 { width: 100%; }
.col-md-6 { width: 50%; }
.col-md-3 { width: 25%; }

.arrow {
	vertical-align: middle;
	text-align: center;
    top: 50%;
	width : 10%;
	max-width: 15%;
	}

.page-header{
		text-align: center;
}

.footer{
		text-align: center;
}

	